* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(145deg, #be7e17, #36009b);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #3d496c;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: transparent;
    box-shadow: -4px -4px 15px rgba(0, 0, 0, 0.3), -2px -2px 30px rgba(0, 0, 0, 0.6);
    font-size: 20px;
    color: #0027ff;
    cursor: pointer;
    margin: 10px;
}

form input.e {
    color: #f5ff00;
}

form input.m {
    width: 60px;
    height: 60px;
}

.calculator form input {
    border: solid;
    border-color: white;

}

form div input.e {
    border: solid;
    border-color: #f5ff00;

}

form div input.e {
    font-weight: 800;
}

.calculator form input:hover {
    color: blue;
    font-weight: 900;
    background: white;
        animation: anim 3s;
    border-radius: 10px;
@keyframes anim{
    0%{
        opacity: 0;
        --clr:#1d1d1d ;
    }
        10%{
        opacity: 0.9;
        --clr:#a7a7a7
            transform: scale 50%;
    }
        20%{
        opacity: 0;
        --clr:#848484 ;
    }
        30%{
        opacity: 0;
            --clr:#9a9a9a ;
    }
        40%{
        opacity: 0.7;
            --clr:#6c6c6c ;
    }
        50%{
        opacity: 0.5;
            --clr:#7c7c7c ;
    }
        60%{
        opacity: 0;
            --clr:#9f9f9f ;
    }
        70%{
        opacity: 0.9;
            --clr:#6c6c6c ;
    }
        80%{
        opacity: 0.7;
            --clr:#ffffff ;
    }
        90%{
        opacity: 0.5;
            --clr:#9b9b9b ;
    }
        100%{
        opacity: 1;
            --clr:rgba(23, 7, 7, 0.31) ;
    }
}

}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;

}

form .display input {
    text-align: right;
    text-overflow: ellipsis;
    padding: 6px 6px;
    white-space: nowrap;
    flex: 1;
    font-size: 45px;
    background: ;
    box-shadow: -4px -4px 15px rgba(0, 0, 0, 0.3), -2px -2px 30px rgba(0, 0, 0, 0.6);
}

form input.equal {
    width: 145px;
}
